body {
  margin: 0;
}
.custom-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #f8f9fa;
  z-index: 1000;
}
.main-content {
  padding-top: 60px;
}
