.navbar {
  background-color: rgba(30, 91, 117, 0.7); 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-brand {
  color: #fff;
}

.navbar-brand span {
  color: #41a1cb;
}

.nav-link, .dropdown-item {
  color: #fff !important;
}

.dropdown-menu {
  background-color: #333;
  border: none;
}

.dropdown-item:hover {
  background-color: #444;
}

.navbar-nav .nav-item {
  margin: 0 10px;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  font-size: 1.5rem;
}

.notification-count {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  font-weight: bold;
}


/* For larger screens */
@media (min-width: 992px) {
  .navbar-nav.left-nav {
    display: flex;
    align-items: center;
    margin-right: auto;
  }

  .navbar-nav.right-nav {
    display: flex;
    align-items: center;
  }
}

/* For smaller screens */
@media (max-width: 991px) {
  .navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    text-align: right;
  }

  .navbar-nav.left-nav,
  .navbar-nav.right-nav {
    width: 100%; 
    margin: 0;
  }

  .navbar-nav.left-nav {
    margin-bottom: 10px; 
  }

  .navbar-nav.left-nav .nav-item,
  .navbar-nav.right-nav .nav-item {
    margin: 10px 0;
  }
}

.nav-link:hover {
  text-decoration: underline;
}

#navbarResponsive{
  font-size: 18px;
}

#root > div > div > div.login-form > button.google-btn > a{
  text-decoration: none;
  color: #fff;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 10px; 
}

.btn-logout {
  background-color: #dc3545;
  color: white;
  border: none;
  transition: background-color 0.3s ease;
  width: 160px; 
}

.btn-logout:hover {
  background-color: #c82333;
}

.btn-secondary {
  background-color: #6c757d;
  color: white;
  border: none;
  transition: background-color 0.3s ease;
  width: 160px; 
}

.btn-secondary:hover {
  background-color: #5a6268;
}

.notification-count {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
}

.notification-dropdown {
  position: absolute;
  border-radius: 10px;
  top: 35px;
  right: 0;
  background-color: #ffffff;
  width: 250px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 1000;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notification-item {
  padding: 10px;
  color: #333; 
  border-bottom: 1px solid #eee;
  background-color: #fff;
}

.notification-item:hover {
  background-color: #f0f0f0; 
}

.clear-notifications-button {
  background: none;
  border: none;
  color: rgb(93, 93, 93);
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
}

.clear-notifications-button:hover {
  text-decoration: underline;
}

@media (max-width: 576px) {
  .modal-content {
    padding: 15px;
    max-width: 95%;
  }

  .modal-actions {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .modal-actions .btn {
    flex: 1;
    margin: 0 5px;
  }
}


