.top-projects {
    padding: 60px 0;
  }
  
  .section-title {
    margin-bottom: 30px;
  }
  
  .section-title h2 {
    font-size: 36px;
    font-weight: 700;
  }

  
  .section-title p {
    font-size: 18px;
    color: #6c757d;
  }
  
  .project-list {
    display: flex;
    flex-direction: column;
  }
  
  .project-item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    border: 1px solid #ddd;
    width: 100%;
    height: 80%;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .project-image {
    width: 150px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 15px;
  }
  
  .project-content {
    flex: 1;
    margin-left: 50px;
  }
  
  .project-content h3 {
    color: #0092ac;
    font-size: 24px;
    margin-bottom: 10px;
  }

  .project-content h5 {
    font-size: 17px;
    font-weight: 500;
    color: #39947a;
    margin-bottom: 10px;
  }
  
  .project-content p {
    font-size: 16px;
    color: #6c757d;
  }
  
  .btn-project {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .btn-project:hover {
    background-color: #0056b3;
  }

  .project-likes {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-top: 10px;
  }
  
  .project-likes .fa-thumbs-up {
    margin-right: 5px;
  }
  
  .project-likes span {
    font-size: 16px;
  }
  